SwJugueriaAgustin/Connected Services/ConsultaRuc/WSConsultaRuc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSConsultaRuc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSConsultaRuc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActividadComericioExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CondicionContribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoContribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicioActividad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInscripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SistemaContabilidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SistemaEmisionComprobante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComtribuyente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
</xs:schema>